{% extends "index.html" %}


{% if msg %}
    <script>
        alert("{{msg}}");
    </script>
{% endif %}


{% block content %}
<div class="table-responsive">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">plan title</th>
            <th scope="col">exercise_entity</th>
            <th scope="col">weight</th>
            <th scope="col">plan_exercises count</th>
        </tr>
        </thead>
        <tbody>
        {% for exercise in plan_exercises%}
        <tr>
            <td> {{exercise.plan_entity.title}}</td>
            <td> title: {{exercise.exercise_entity.title}}, muscle type: {{exercise.exercise_entity.muscle_type}}:
                description: {{exercise.exercise_entity.description}}</td>
            <td> {{exercise.weight}}</td>
            <td> {{exercise.count}}</td>
            <td>
                <a href="/edit_plan_exercises?id={{exercise.id}}"
                   title="edit button">
                    <button type="button" class="btn btn-warning" name="btn_edit_user" >
                        Edit
                    </button>
                </a>
                <a href="/delete_plan_exercises?id={{exercise.id}}"
                   title="delete button">
                    <button type="button" class="btn btn-danger" name="btn_delete_user" >
                        Delete
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="/new_plan_exercises" title="new admin button">
                    <button type="button" class="btn btn-success" name="btn_new_admin">New planed exercise</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<script src="{{ url_for('static', filename='js/skill.js') }}"></script>-->

{% endblock %}